body{
    background-color: black;
}
.wd-main-flex{
    display: flex;
    justify-content: space-evenly;
}
.wd-flex{
    display: flex;
}
.wd-blue-bg{
    background-color: rgb(29,161,242) !important;
}
.wd-blue-fg{
    color: rgb(29,161,242) !important;
}
.wd-no-wrap-text{
    white-space: nowrap;
}
.wd-navigation-bar{
    display: table;
    margin-top: 12px;
}
.wd-bottom-margin{
    margin-bottom:  4px;
}
.wd-navigation-item{
    border: 1px solid black;
    padding: 8px 8px 8px 12px;
    display: flex;
    color: silver;
    align-items: center;
    background-color: rgb(16, 16, 16);
}
.list-group > .active{
    background-color: rgb(29, 161, 242) !important;
}
.wd-nav-title{
    margin-left: 6px;
}
.wd-tweet-button{
    background-color: rgb(29,161,242) !important;
    border-radius: 50px;
    width: 100%;
    color: white;
    text-align: center;
}
.wd-header{
    margin-top: 12px;
    display: flex;
    align-items: center;
}
.wd-search-area{
    flex-basis: 100%;
    display: flex;
}
.wd-search-bar{
    padding-left: 30px;
    border-radius: 30px;
    border: 1px solid gray;
    flex-basis: 100%;
    background-color: whitesmoke;
}
::placeholder{
    color: rgb(27, 27, 27);
}
.wd-magnifying-glass{
    position: relative;
    left: 25px;
    top: 6px;
    margin-left: -20px;
    color: rgb(27, 27, 27);
}
.wd-main-section-tabs{
    margin-top: 12px;
    font-size: 16px;
    border: none !important;
}
.nav-item > .nav-link{
    color: rgb(29, 161, 242) !important;
}
.nav-item > .active{
    color: white !important;
    background-color: rgb(29, 161, 242) !important;
    border: none;
}
.wd-settings{
    color: rgb(29,161,242);
    margin-left: 12px;
    font-size: 2.0em;
}
.wd-stacked-icons{
    font-size: 0.5em;
    vertical-align: middle;
}
.wd-main-tuits{
    display: table;
    width: 100%;
    margin-top: 12px;
}
.wd-main-image{
    width: 100%;
    margin-bottom: -40px;
    border-radius: 5px;
}
.wd-main-image-text{
    color: white;
    font-size: 24px;
    margin-left: 12px;
}
.wd-tweet-summary{
    color: darkgray;
    font-size: 13px;
    margin-top: 0px;
    padding: 8px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(16, 16, 16);

}
.wd-tweet-content > .wd-tweet-details{
    color: dimgray;
}
.wd-tweet-content{
}
.wd-tweet-image-summary{
    height: 70px;
    diplay: flex;
    border-radius: 10px;
}
.wd-tweet-user-info{
    font-size: 14px;
}
.wd-wtf-section{
    font-size: 14px;
}
.wd-wtf-item{
    border: 1px solid black;
    display: flex;
    background-color: rgb(16, 16, 16);
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px 6px 12px;
}
.wd-wtf-avatar{
    height: auto;
    width: 40px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
    top:25%;
    transform: translateY(-25%);
}
.wd-wtf-user{
    white-space: nowrap;
}
.wd-wtf-follow-button{
    background-color: rgb(29,161,242);
    color: white;
    border-radius: 30px;
    border: none;
    height: 30px;
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
}
.wd-wtf-user-info{
    display: inline-block;
    color: silver;
    margin-left: 8px;
}
.wd-check{
    margin-left: 8px;
}
.wd-wh-main{
    display: flex;
    margin-top: 6px;
}
.wd-bookmarked-tweets{
    display: table;
    width: 100%;
    margin-top: 12px;
    border-radius: 10px;
    border-color: black;
}
.wd-active-user-image{
    float:left;
    margin-left: 16px;
    margin-top: 12px;
    margin-right: 16px;
    border-radius: 30px;
    width: 48px;
    height: 48px;
}
.wd-write-tuit{
    float: right;
    border-radius: 30px;
    background-color: rgb(29,161,242);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.wd-tuit-input{
    width: 100%;
    background: rgb(16, 16, 16);
    border-color: black;
    border-bottom-color: rgb(36, 36, 36);
    color: silver;
}
.wd-tuit-input::placeholder{
    color: rgb(72, 72, 72);
}
.wd-wh-buttons{
    margin-top: 12px;
}
.wd-wh-add-ons{
    float: left;
}
.wd-wh-add-on{
    padding-right: 12px;
    color: rgb(29, 161, 242) !important;
}
.wd-delete-tweet{
    margin: 6px;
}
.wd-red{
    color: red;
}
.wd-p-header{
    display: flex;
    margin-top: 6px;
    width: 100%;
}
.wd-p-arrow-left{
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items:  center;
}
.wd-p-header-info{
}
.wd-p-header-name{
    font-size: 30px;
}
.wd-p-header-detail{
    color: gray;
}
.wd-p-banner{
    width: 100%;
    margin-top: 10px;
}
.wd-p-avatar{
    height: 150px;
    border-radius: 75px;
    border: solid black 4px;
    margin-left: 20px;
    position: relative;
    bottom: 75px;
    margin-bottom: -75px;
}
.wd-p-edit-btn{
    float: right;
    color: silver;
    font-size: 14px;
    border-radius: 20px;
    border-color: rgb(74, 74, 74);
    position: relative;
    top: 10px;
    margin-right: 20px;
}
.wd-p-bio-section{
    margin-left: 20px;
}
.wd-p-bio-name{
    font-size: 26px;
}
.wd-p-bio-handle {
    color: rgb(74, 74, 74);
}
.wd-p-details{
    margin-top: 10px;
    display: flex;
    font-size: 14px;
}
.wd-p-detail{
    color: rgb(74, 74, 74);
    display: flex;
    padding-right: 20px;
}
.wd-p-detail-icon{
    margin-right: 6px;
    display: flex;
    align-items: center;
}
.wd-p-tweet-stats{
    margin-top: 10px;
    color: silver;
}
.wd-p-follow-stat{
    padding-right: 20px;
}
.wd-p-edit-banner{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 90px;
    width: 15%;
    left: 42%;
}
.wd-p-flex{
    display: flex;
}
.wd-p-input{
    background-color: black;
    color: silver;
    border: none;
    width: 100%;
    padding: 10px;
}
.wd-p-label{
    font-size: 14px;
    color: rgb(74, 74, 74);
}
.wd-p-bio-name-input{
    margin-top: 20px;
    background-color: black;
    border: solid rgb(74, 74, 74) 2px;
    color: silver;
    width: 95%;
    padding: 10px;
}