.wd-red{
    background-color: white;
}
.wd-blue{
    background-color: white;
}
.wd-green{
    background-color: mediumseagreen;
}
.wd-navigation-bar{
    display: table;
    margin-top: 12px;
    color: darkslategray;
}
.wd-navigation-item{
    border: 1px solid lightgray;
    padding: 4px;
    padding-left: 16px;
}
.wd-tuit-button{
    background-color: rgb(29,161,242);
    border-radius: 50px;
    width: 100%;
    color: white;
    margin-top: 4px;
}
.wd-header{
    margin-top: 12px;
    display: flex;
    align-items: center;
}
.wd-search-bar{
    padding-left: 30px;
    border-radius: 30px;
    flex-basis: 100%;
}
.wd-mag-image{
    position: absolute;
    bottom: 12px;
    left: 180px;
}
.wd-main-tabs{
    margin-top: 12px;
}
.wd-settings-icon{
    color: rgb(29,161,242);
    margin-left: 12px;
    font-size: 2.0em;
}
.wd-stacked-icons-small{
    font-size: 0.5em;
    vertical-align: middle;
}
.wd-main-tuits{
    display: table;
    border: 1px solid lightgray;
    width: 100%;
    margin-top: 12px;
}
.wd-main-tuits-image{
    width: 100%;
    margin-bottom: -40px;
}
.wd-main-image-text{
    color: white;
    font-size: 24px;
    margin-left: 12px;
}
.wd-tuit{
    color: darkslategray;
    font-size: 13px;
    margin-top: 0px;
    padding: 8px;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.wd-tuit-content > .wd-tuit-detail{
    color: darkgray;
}
.wd-tuit-content{
    float: left;
}
.wd-tuit-image{
    height: 60px;
    float: right;
    diplay: flex;
}
.wd-tuit-user{
    font-size: 14px;
}